<form [formGroup]="tagForm">

	<hr>
	<label>Choose the type of hashtag you want to make:</label>
	<br>
	<mat-radio-group color="primary" formControlName="relation">
		<mat-radio-button value="parent">parent tag</mat-radio-button>
		<mat-radio-button value="child">child tag</mat-radio-button>
	</mat-radio-group>
	<br>
	<label>Provide a name for your hashtag:</label>
	<br>
	<mat-form-field>
		<input matInput placeholder="tag"  formControlName="name"/>
  </mat-form-field>
		<label>Provide a description for your hashtag:</label>
		<br>
		<mat-form-field>
			<input matInput placeholder="description"  formControlName="description"/>
  </mat-form-field>
			<br>
			<label>Pick the section the hashtag should appear in:</label>
			<br>
			<mat-form-field>
				<mat-select (ngModelChange)="getParentTags($event)" formControlName="section">
					<mat-option *ngFor="let section of sections | async" [value]="section.id">{{
              section.name
            }}</mat-option>
				</mat-select>
			</mat-form-field>
      <label>Pick the section the hashtag should appear in:</label>
			<br>
			<mat-form-field>
				<mat-select formControlName="parent">
					<mat-option *ngFor="let parent of parents | async" [value]="parent.id">{{
              parent.name
            }}</mat-option>
				</mat-select>
			</mat-form-field>


</form>